@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');

body{
    font-family: Martian Mono;
   /* background:url(https://www.w3schools.com/images/background_in_space.gif) ; */
    background-color: #212121;
    margin: 0;
    padding: 0;
}


.nv{
    color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
       /* background:url(https://www.w3schools.com/images/background_in_space.gif) ; */
}

ul{
    display: flex;
    list-style: none;
    gap: 5em;
    cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: white;
}



/* .load{
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 18em 10em;
    color: aliceblue;
} */

/* .experience{
  background: url(https://www.w3schools.com/images/background_in_space.gif);
  
} */

@media screen and (max-width: 1024px) {

  ul{
    gap:3em;
    overflow: hidden;
  }

  .nv{
    overflow: hidden;
  }

}